<%- include('../partials/header') %>

<h2>Add a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
        </select>
  </label><br>
  
    <label>Airport:
        <select name="airport">
          <option selected value="LAX">Los Angeles</option>
          <option value="AUS">Austin</option>
          <option value="LAX">Dallas</option>
          <option value="DEN">Denver</option>
          <option value="SAN">San Francisco</option>
        </select>
    </label><br>
  
    <label>Flight Number:
      <input type="number" name="flightNo">
  </label><br>

  <label>Departs:
    <input type="datetime-local" name="departs" value="<%= departsDate %>">
  </label><br> 

  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>